<!-- Search, date and userinfo -->
<header>
    <div class="search-date-user d-flex flex-row justify-content-between align-items-center col-12">
        <div class="search-field col-6 d-flex flex-row justify-content-start align-items-center">
            <i class="fas fa-search"></i>
            <input type="text" placeholder="Buscar">
        </div>
        <div class="date-time col-3">
            <span id="clock" class="fw-bold text-primary"></span>
            <span class="fw-bold text-primary"> - </span>
            <span id="dia" class="fw-bold text-primary"></span>
            <span class="fw-bold text-primary">/</span>
            <span id="mes" class="fw-bold text-primary"></span>
        </div>
        <div class="dropdown">
            <button class="btn btn-outline-secondary dropdown-toggle user-profile col-12 d-flex flex-row justify-content-around align-items-center" type="button" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                <p class="mb-0"><%= locals.usuario.name %> <%= locals.usuario.lastName %></p>
            </button>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="dropdownMenuButton">
              <li><a class="dropdown-item" href="/user/edit/<%= locals.usuario.id %> " id="dropdown-edit">Editar usuario</a></li>
              <li><a class="dropdown-item" href="/logout" id="dropdown-logout">Cerrar sesión</a></li>
            </ul>
          </div>

        
    </div>
</header>