
<div class="container-fluid px-0 body-login">
    <div class="img-buttons col-12">
        <div class="container-login-img d-flex flex-row justify-content-center col-8 mx-auto">
            <img src="/img/workline.png" alt="Workline Logo">
        </div>
        <div class="container-btns d-flex flex-column justify-content-start col-4 mx-auto">
            <a href="/login" class="mt-3 mb-0 btn btn-outline-light" role="button">Iniciar Sesión</a>
            <a href="/signup" class="mt-3 mb-0 btn btn-outline-light" role="button">Crear cuenta</a>
        </div>
    </div>
    
</div>
