<aside class="vertical-projects-aside col-2 bg-white">
    <div class="projects-new col-9 d-flex flex-row justify-content-between mx-auto align-items-center">
        <p>Proyectos</p>
        <i class="fas fa-plus-circle" id="new-project-btn"></i>
    </div>
    <div class="projects-index col-9 mx-auto">
        <ul class="list-unstyled">
            <!-- Todos -->
            <li>
                <div class="col-12 mb-4 d-flex flex-column justify-content-start">
                    <div class="linea-projects-index col-12 d-flex flex-row justify-content-start align-items-center">
                        <div>
                            <i class="fas fa-archive"></i>
                            <p>Todos</p>
                        </div>
                        <i class="fas fa-chevron-right open-btn"></i>
                        <i class="fas fa-chevron-down close-btn"></i>
                    </div>
                    <div class="dropdown-projects-index">
                        <ul class="list-unstyled">
                            <li>Lorem</li>
                            <li>Lorem</li>
                            <li>Lorem</li>
                        </ul>
                    </div>
                </div>
            </li>
            <!-- Marcados -->
            <li>
                <div class="col-12 mb-4 d-flex flex-column justify-content-start">
                    <div class="linea-projects-index col-12 d-flex flex-row justify-content-start align-items-center">
                        <div>
                            <i class="fas fa-bookmark"></i>
                            <p>Marcados</p>
                        </div>
                        <i class="fas fa-chevron-right open-btn"></i>
                        <i class="fas fa-chevron-down close-btn"></i>
                    </div>
                    <div class="dropdown-projects-index">
                        <ul class="list-unstyled">
                            <li>Lorem</li>
                            <li>Lorem</li>
                            <li>Lorem</li>
                        </ul>
                    </div>
                </div>
            </li>
            <!-- En proceso -->
            <li>
                <div class="col-12 mb-4 d-flex flex-column justify-content-start">
                    <div class="linea-projects-index col-12 d-flex flex-row justify-content-start align-items-center">
                        <div>
                            <i class="far fa-clock"></i>
                            <p>En proceso</p>
                        </div>
                        <i class="fas fa-chevron-right open-btn"></i>
                        <i class="fas fa-chevron-down close-btn"></i>
                    </div>
                    <div class="dropdown-projects-index">
                        <ul class="list-unstyled">
                            <li>Lorem</li>
                            <li>Lorem</li>
                            <li>Lorem</li>
                        </ul>
                    </div>
                </div>
            </li>
            <!-- Terminados -->
            <li>
                <div class="col-12 mb-4 d-flex flex-column justify-content-start">
                    <div class="linea-projects-index col-12 d-flex flex-row justify-content-start align-items-center">
                        <div>
                            <i class="far fa-check-circle"></i>
                            <p>Terminados</p>
                        </div>
                        <i class="fas fa-chevron-right open-btn"></i>
                        <i class="fas fa-chevron-down close-btn"></i>
                    </div>
                    <div class="dropdown-projects-index">
                        <ul class="list-unstyled">
                            <li>Lorem</li>
                            <li>Lorem</li>
                            <li>Lorem</li>
                        </ul>
                    </div>
                </div>
            </li>
            <!-- Papelera -->
            <li>
                <div class="col-12 mb-4 d-flex flex-column justify-content-start">
                    <div class="linea-projects-index col-12 d-flex flex-row justify-content-start align-items-center">
                        <div>
                            <i class="far fa-trash-alt"></i>
                            <p>Papelera</p>
                        </div>
                        <i class="fas fa-chevron-right open-btn"></i>
                        <i class="fas fa-chevron-down close-btn"></i>
                    </div>
                    <div class="dropdown-projects-index">
                        <ul class="list-unstyled">
                            <li>Lorem</li>
                            <li>Lorem</li>
                            <li>Lorem</li>
                        </ul>
                    </div>
                </div>
            </li>
        </ul>
    </div>
</aside>