<nav class="sidebar col-1 d-flex flex-column justify-content-between bg-primary">
    <div class="top-logo-icons col-12 d-flex flex-column justify-content-start">
        <a href="/" class="d-flex flex-row justify-content-center"><img src="/img/workline.png" alt="Workline Logo"></a>
        <i class="fas fa-home"></i>
        <i class="far fa-folder"></i>
        <i class="fas fa-cog"></i>
    </div>
    <div class="bottom-logo col-12">
            <a href="/logout"><i class="fas fa-sign-out-alt"></i></a>
    </div>
</nav>
